<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.a19_21.clinicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.SearchServiceActivity" />
        <activity android:name=".controller.EmployeeManageServicesActivity" />
        <activity android:name=".controller.AddServiceActivity" />
        <activity android:name=".controller.EditClinicActivity" />
        <activity android:name=".controller.CreateClinicActivity" />
        <activity android:name=".controller.EmployeeActivity" />
        <activity android:name=".controller.ManageServicesActivity" />
        <activity android:name=".controller.ManageUsersActivity" />
        <activity android:name=".controller.CreateServiceActivity" />
        <activity android:name=".controller.AdminActivity" />
        <activity android:name=".controller.SearchActivity" />
        <activity android:name=".controller.WelcomeActivity" />
        <activity android:name=".controller.SignInActivity" />
        <activity android:name=".controller.TimeSearchActivity" />
        <activity android:name=".controller.ClinicSearchActivity" />
        <activity android:name=".controller.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>